<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <br>
      <br>
      <br>
      <%= render 'public/items/genresearch', genres: @genres %>
      </div>

      <div class='col-8 text-color'>
        <br>
        <br>
        <br>
      <div class="bg">
        <p class = "body">ようこそ、ながのCAKEへ！</p>
        <p class = body>このサイトは、ケーキ販売のECサイトになります。</p>
        <p class = body>会員でない方も商品の閲覧はできますが、</p>
        <p class = body>購入には会員登録が必要になります。</p>
        </div>
        <br>
        <br>
      <h2>新着商品</h2>
        <p><% @item.each do |item| %></p>
        　<%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size:"100x100" %>
          <br>
          <% end %>
          <%= item.name %>
          <br>
          <%= item.net_price %>
          <% end %>
        <p><%= link_to "全ての商品を見る", items_path %></p>

        </div>
      </div>
  </div>

    </div>
    </div>
  </div>
