<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <br>
      <br>
      <%= render 'public/items/genresearch', genres: @genres %>
      </div>
      <div class='col-8'>
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>

      <h1>新着商品</h1>
        <p><% @item.each do |item| %></p>
        　<%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size:"100x100" %>
          <% end %>
          <%= item.name %>
          <%= item.net_price %>
          <% end %>
        <p><%= link_to "全ての商品を見る", items_path %></p>
        </div>
      </div>
    </div>
  </div>
