<h1><%=%>さんの会員情報編集</h1>
<p>会員ID<%= @customers.customers_id %></p>

<%= form_with model: @customer do |f| %>

<p>氏名<%= f.text_field :last_name %><%= f.text_field :first_name %></p>
<p>フリガナ<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
<p>郵便番号<%= f.text_field :customers_id %></p>
<p>住所<%= f.text_field :post_code %></p>
<p>電話番号<%= f.text_field :phone_namber %></p>
<p>メールアドレス<%= f.text_field :address %></p>
<p>会員ステータス</p> #未記入
<p><%= f.submit '変更を保存' %></p>