<h1><%= @customers.last_name %><%= @customers.first_name %>さんの会員詳細</h1>

<p>会員ID<%= @customers.customers_id %></p>
<p>氏名<%= @customers.last_name %><%= @customers.first_name %></p>
<p>フリガナ<%= @customers.last_name_kana %><%= @customers.first_name_kana %></p>
<p>郵便番号<%= @customers.customers_id %></p>
<p>住所<%= @customers.post_code %></p>
<p>電話番号<%= @customers.phone_namber %></p>
<p>メールアドレス<%= @customers.address %></p>
<p>会員ステータス</p>   #未記入
<p>編集する</p>
<p>注文履歴一覧を見る</p>