<% if deliveries.present? %>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
      </tr>
    </thead>

    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td>
              <%= delivery.post_code %>
          </td>
          <td>
              <%= delivery.address %>
          </td>
          <td>
              <%= delivery.name %>
          </td>
          <td>
<<<<<<< HEAD
              <%= link_to "編集する",_path(delivery) %>
          </td>
          <td>
              <%= link_to "削除する",_path(delivery), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true %>
=======
              <%= link_to "編集する", edit_delivery_path(delivery) %>
          </td>
          <td>
              <%= link_to "削除する", delivery_path(delivery), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true %>
>>>>>>> 6e40bc2669463ccaa300ebdc4072a833ec4fcd7b
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>