<h2>ジャンル編集</h2>

  <div><%= f.label :genre %></div>

<%= form_for(@admin, url: admin_path(@admin)) do |f| %>
  <div>
  <%= f.label :ジャンル名 %>
  <%= f.text_area :genre_name, :placeholder =>"#{@genre.genre_name}" %>
  </div>
  <div><%= f.submit "変更を保存" %></div>
<% end %>