<p><%= flash[:notice] %></p>
<h2>ジャンル一覧・追加</h2>

 <%= form_with model:Genre, url:admin_genres_path do |f| %>
    <%= f.label :genre_name, "ジャンル名" %>
    <%= f.text_field :genre_name, placeholder: "ジャンル名" %>
    <%= f.submit "新規登録" %>
  <% end %>


 <h2>ジャンル</h2>

 <body>
    <% @genres.each do |genre| %>
    <%= genre.genre_name %>
    <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
        <% end %>
 </body>

