<% if customer_signed_in? %>
<nav class = "col-4 text-center text-primary">ようこそ<%= current_customer.last_name %>さん</nav>
<ul class="navbar-nav ml-auto h4">
  <%= link_to "マイページ" %>
  <%= link_to "商品一覧" %>
  <%= link_to "カート" %>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  </ul>
<% else %>
  <%= link_to "About", homes_about_path %>
  <%= link_to "商品一覧", admin_items_path %>
  <%= link_to "新規登録", new_customer_registration_path %>
  <%= link_to "ログイン" , new_customer_session_path%>
<% end %>